.tiptap p.is-editor-empty:first-child::before {
  color: #11181c;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-size: 14px;
}
.dark .tiptap p.is-editor-empty:first-child::before {
  color: #a1a1aa;
}

.tiptap-ol {
  padding: 0 1rem;
  list-style: decimal !important;
}

.tiptap-ul {
  padding: 0 1rem;
  list-style: disc !important;
}

.dark .tiptap {
  border: 2px solid #27272a;
  background: #27272a;
}

.tiptap {
  outline: none;
  padding: 12px;
  border: 2px solid #f6f6f6;
  border-radius: 12px;
  background: #f6f6f6;
}

.regular .tiptap {
  outline: none;
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: transparent;
}

.remove-default-tiptap .tiptap {
  outline: none;
  padding: 0px;
  border: none;
  border-radius: 0px !important;
  background: inherit !important;
}

.slick-next::before,
.slick-prev::before {
  color: #000 !important;
}
.dark .slick-next::before,
.dark .slick-prev::before {
  color: #faf7f2 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
